<% if User.all.size > 0%>
  <table>
    <tr>
      <th>Login</th>
      <th>Role</th>
      <th>Password</th>
      <th></th>
    </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.role %></td>
      <td><%= user.password %></td>
      <td>[<%= link_to 'Del', user, :confirm => 'Are you sure?', :method => :delete %>]</td>
    </tr>
  <% end %>
  </table>
<% end %>
[<%= link_to 'New User', new_user_path %>]
