<h1>New user</h1>
<%= form_for @user, :html => { :class => "pure-form pure-form-aligned"} do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
  <div class="pure-control-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="pure-control-group">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>
  <div class="pure-control-group">
    <%= f.label :role %>
    <%= f.select(:role, [['mod'], ['adm']]) %>
  </div>
  <div class="pure-controls">
    <%= f.submit "Submit", :class => "pure-button pure-button-small pure-button-primary" %>
  </div>
</fieldset>
<% end %>