<div class="wrap">
  <div class="boardname">Bakaba</div>
  <div class="epigraph">"Lorem ipsum dolor sit popipo"</div>
  <%= image_tag("logo.png", :size => "300x300", :alt => "logo")%>
  <div class="pages">
    <%= link_to 'Rules', rules_path %>
    <%= link_to 'Help', help_path %>
    <%= link_to 'Contact', contact_path %>
  </div>
  <table>
    <tbody>
      <tr>
        <td>
          <% @categories.each do |category| %> 
            <div class="boardlist"> 
              <div class="category"><%= category.name %></div>
              <ul>	
                <% Board.where(:category_id => category.id, :hidden => false).asc(:abbreviation).each do |board| %>
                  <li><%= link_to '/'+board.abbreviation+'/ -  '+board.title, board.abbreviation %></li>			
                <% end %>
              </ul>
            </div>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
</div>