<%= form_for @board, :html => { :class => "pure-form pure-form-aligned"} do |f| %>
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h2>
      <ul>
      <% @board.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<fieldset>
  <div class="pure-control-group">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </div>
  <div class="pure-control-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <% if params[:action] == 'new' %>
    <div class="pure-control-group">
      <%= f.label :abbreviation %>
      <%= f.text_field :abbreviation %>
    </div>
    <div class="pure-control-group">
      <label for="board_comments">Postcount</label>
      <%= f.text_field :comments %>
    </div>
  <% end %>
  <div class="pure-control-group">
    <label for="board_maxthreads">Threadlimit</label>
    <%= f.text_field :maxthreads %>
  </div>
  <div class="pure-controls">
    <label for="board_hidden" class="pure-checkbox">
      <%= f.check_box :hidden %> Hidden
    </label>
    <label for="board_pcaptcha" class="pure-checkbox">
      <%= f.check_box :pcaptcha %> Captcha for new threads
    </label>
    <label for="board_ccaptcha" class="pure-checkbox">
      <%= f.check_box :ccaptcha %> Captcha for comments
    </label>
    <%= f.submit "Submit", :class => "pure-button pure-button-small pure-button-primary" %>
  </div>
</fieldset>
<% end %>