<div class="newthread">
	[<a href="#" class="nthread">New Thread</a>]
</div>
<%= form_for [@board, Post.new], :html => { :multipart => true } do |f| %>
  <%= f.hidden_field :board_abbreviation, :value => @board.abbreviation %>
  <table>
    <tr>   
      <td class="postblock">Title: </td>
      <td><%= f.text_field :title %> <%= f.submit "Submit" %></td>
    </tr>
    <tr>
      <td class="postblock">Comment: </td>
      <td><%= f.text_area :content, :rows => 10, :cols => 70 %></td>
    </tr>
    <tr>   
      <td class="postblock">Media:</td>
      <td><%= f.text_field :media, :size => 40 %> (<span class="underline" title="eg. http://www.youtube.com/watch?v=oHg5SJYRHA0">YouTube</span>, <span class="underline" title="eg. http://vimeo.com/1234567">Vimeo</span>, <span class="underline" title="eg. http://vocaroo.com/i/1234567890ab">Vocaroo</span>, <span class="underline" title="eg. http://pastebin.com/1a2b3c4d">Pastebin</span>)</td>
    </tr>
    <% if @board.pcaptcha? %>
      <tr>
        <td class="postblock">Verification: </td>
        <td><%=raw recaptcha_tags :display => {:theme => 'white'}, :ajax => true %></td>
      </tr>
   <% end %>
    <tr>
      <td class="postblock">File:</td>
      <td><%= f.file_field :pic %></td>
    </tr>
    <tr>   
      <td class="postblock">Password:</td>
      <td><%= f.password_field :password, :value => cookies[:password], :size => 6 %> <%= f.check_box :show_id %> show my id</td>
    </tr>
  </table>
<% end %>
<hr />