<% @posts.each do |post| %>
<% cache 'thread_'+post.slug do %>
  <div class="thread" id="thread_<%= post.number %>">
    <div class="oppost">
      <%= render "layouts/post", :target => post, :reflink_pfx => post.slug, :oppost => true %>
    </div>
    <% if post.comments.length > $visible_comments+1 %>
      <% @omcomm = (post.comments.length)-$visible_comments %>	
      <span class="omittedposts"><%= @omcomm %> comments omitted. Click Show to view.</span>			
      <% @comments = post.comments.asc(:number).skip(@omcomm) %>
    <% else %>
      <% @comments = post.comments.asc(:number) %>
    <% end %>	
    <% @comments.each do |comment| %>
      <table class="reply" id="reply_<%= comment.number %>">
        <tr>
          <td>
            <%= render "layouts/post", :target => comment, :reflink_pfx => post.slug, :post_slug => post.slug, :oppost => false %>
          </td>
        </tr>
      </table>	
    <% end %>
    <hr />
  </div>
<% end %>
<% end %>