<% if oppost == true %>
  <%= link_to image_tag('del.png'), '/del/'+target.slug, :confirm => 'Are you sure?', :method => :delete %>
<% else %>
  <%= link_to image_tag('del.png'), '/del/'+post_slug+'/post/'+target.number.to_s, :confirm => 'Are you sure?', :method => :delete %>
<% end %>
<% if target.phash?  %>
  <span class="id">
    <span style="background: #<%= target.phash[0, 6] %>;">&nbsp;&nbsp;</span><span style="background: #<%= target.phash[6, 6] %>;">&nbsp;&nbsp;</span><span style="background: #<%= target.phash[12, 6] %>;">&nbsp;&nbsp;</span><span style="background: #<%= target.phash[18, 6] %>;">&nbsp;&nbsp;</span><span style="background: #<%= target.phash[24, 6] %>;">&nbsp;&nbsp;</span>
  </span>
<% else %>
  <% if target.author? %>
    <% if target.author == 'mod' %>
      <span class="mod_tag"><%= $mod_tag %></span>
    <% else %>
      <span class="admin_tag"><%= $adm_tag %></span>
    <% end %>
  <% end %>
<% end %>
<% if oppost == true %>
  <span class="posttitle"><%= target.title %></span>
<% end %>
<%= target.created_at.strftime("%A %e %B %Y %H:%M:%S") %>
<span class="reflink" id="<%= target.number %>">		
  <a href="<%= reflink_pfx %>#<%= target.number %>">№</a>
  <% if params[:controller] == 'posts' %>
    <a href="javascript:insert('&gt;&gt;<%= target.number %>')"><%= target.number %></a>
  <% else %>
    <a href="<%= reflink_pfx %>#i<%= target.number %>"><%= target.number %></a>
  <% end %> 
</span>
<% if params[:controller] == 'boards' and oppost == true  %>
  [<%= link_to "Show" , target.slug %>]
<% end %>
<% if target.pic.file? or target.media? %>
  <% if target.pic.file? %>
    <div class="file">
      Click on image for full size view (<%= target.pic_file_size/1024 %> kB)
    </div>
    <div class="pure-g-r">
      <div class="pic pure-u">
        <%= link_to(target.pic.url, :target => "_blank") do %>
          <%= image_tag target.pic.url(:small) %>
        <% end %>
      </div>
      <% if target.content != "<p></p>" %>
        <div class="pure-u-3-4">
          <%=raw Rinku.auto_link(target.content, :urls, 'target="_blank" rel="nofollow"') %>
        </div>
      <% end %>
    </div>
  <% else %>
    <% if target.media? %>
      <br />
      <div class="pure-g-r">
        <div class="pic pure-u" id="att_<%= target.number %>">
          [<a href="#show" onClick='document.getElementById("att_<%= target.number %>").innerHTML = "<%=raw target.media %>";'>Show attachment</a>]
        </div>
        <% if target.content != "<p></p>" %>
          <div class="pure-u-3-4">
            <%=raw Rinku.auto_link(target.content, :urls, 'target="_blank" rel="nofollow"') %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="content"><%=raw Rinku.auto_link(target.content, :urls, 'target="_blank" rel="nofollow"') %></div>
<% end %>