<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bakaba</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<% if params[:controller] == 'pages' or params[:controller] == 'users' or params[:controller] == 'sessions' or (params[:controller] == 'boards' and params[:action] != 'show') or params[:controller] == 'categories' %>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
    <%= stylesheet_link_tag "pages", :title => "Pages", :rel => "stylesheet" %>
<% else %>
    <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.2.1/base-min.css&pure/0.2.1/grids-min.css&pure/0.2.1/forms-min.css&pure/0.2.1/buttons-min.css">
    <%= stylesheet_link_tag "photon", :title => "Photon", :rel => "stylesheet" %>
    <%= stylesheet_link_tag "futaba", :title => "Futaba", :rel => "alternate stylesheet" %>
    <%= stylesheet_link_tag "burichan", :title => "Burichan", :rel => "alternate stylesheet" %>
    <%= stylesheet_link_tag "gurochan", :title => "Gurochan", :rel => "alternate stylesheet" %>
    <%= csrf_meta_tag %>
<% end %>
</head>
<% if params[:controller] == 'pages' or params[:controller] == 'users' or params[:controller] == 'sessions' or (params[:controller] == 'boards' and params[:action] != 'show') or params[:controller] == 'categories' %>
<body>

<div class="content">
    <div class="header">
        <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
            <%= link_to 'Bakaba', root_path, :class => "pure-menu-heading" %>

            <ul>
              <li><%= link_to 'Rules', rules_path %></li>
              <li><%= link_to 'Help', help_path %></li>
              <li><%= link_to 'Contact', contact_path %></li>
            </ul>
        </div>
    </div>

    <div class="splash">
        <div class="pure-g-r">
          <% if params[:controller] == 'pages' or params[:controller] == 'sessions' %>
            <div class="pure-u-1-3">
                <div class="l-box splash-image">
                    <%= image_tag("logo.png", :size => "350x350", :alt => "logo")%>
                </div>
            </div>
            <div class="pure-u-2-3">
          <% end %>
          <% if params[:controller] != 'pages' and params[:controller] != 'sessions' %>
            <div class="pure-u-1">
          <% end %>
                <div class="l-box splash-text">
                    <%= yield %>
                </div>
            </div>
        </div>
    </div>
</div>

<%= javascript_include_tag "main" %>
<script>
  jQuery(".responsive_headline").fitText(1.2, { minFontSize: '16px', maxFontSize: '26px' })
</script>

</body>

<% else %>
<body>
  <%= yield %>
  <%= javascript_include_tag "application" %>
</body>
<% end %>
</html>